# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.history

# Local env files
.env
.env.*
!.env.example
!.env.docker.example
!.env.portainer.example

/app/generated/prisma
lib/prisma.ts

# Uploaded files
public/uploads/
!public/uploads/.gitkeep

# Backup folder (local development)
/backup
/backups/*

# Translation config files (generated)
scripts/translation/translations-config.json
scripts/translation/translations-config.template.json

!.gitkeep
